html body {
  background-color: #DCF9C6;
}

h1 {
  text-align: center;
  font-size: 72px;
  margin-top: 4rem;
}

:root {
  --space-size: 130px;
  --mark-size: calc(var(--space-size) * 0.8);
}

body {
  margin: 0;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.game-text-box {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.game-message {
  background-color: rgb(167,231,167);
  text-align: center;
  font-size: 32px;
  padding: 1rem 2rem;
  width: 350px;
  border: 1px solid #2d2d2d;

}

.space {
  width: var(--space-size);
  height: var(--space-size);
  /* background-color: #FFC857; */
  border: 2px solid black;
  cursor: pointer;
}

.space:first-child,
.space:nth-child(2),
.space:nth-child(3) {
  border-top: none;
}

.space:nth-child(3n + 1) {
  border-left: none;
}

.space:nth-child(3n + 3) {
  border-right: none;
}

.space:nth-child(7),
.space:nth-child(8),
.space:last-child {
  border-bottom: none;
}

.space > i {
  display: grid;
  justify-content: center;
  padding: 0.5rem;
  cursor: not-allowed;
}

.space:hover {
  background-color: rgb(167,231,167);
}

.win-prompt {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  flex-direction: column;
}

.win-prompt-text {
  margin-bottom: 1rem;
}

.win-prompt button {
  font-size: 2.5rem;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
}

.win-prompt button:hover {
  font-size: 2.5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.win-prompt.show {
  display: flex;
}
