*::before , *::after {
  box-sizing: border-box;
}

:root {
  --space-size: 100px;
  --mark-size: cal(var(--space-size) * .8);
}

body {
  margin: 0;
}

.board {
  height: 100vh;
  width: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.space {
  width: var(--space-size);
  height: var(--space-size);
  /* background-color: #FFC857; */
  border: 2px solid black;
}

.space:first-child,
.space:nth-child(2),
.space:nth-child(3) {
  border-top: none;
}

.space:nth-child(3n + 1) {
  border-left: none;
}

.space:nth-child(3n + 3) {
  border-right: none;
}

.space:nth-child(7),
.space:nth-child(8),
.space:last-child {
  border-bottom: none;
}